body {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

#titulo1 {
  text-align: center;
  color: rgba(200, 255, 0);
}

hr {
  width: 80%;
  margin-bottom: 50px;
}

#input {
  border-radius: 10px;
  width: 50%;
  height: 25px;
  box-shadow: 3px 3px 10px rgba(200, 255, 0, 0.8);
  margin-left: 0px;
}

#contenedor1 {
  text-align: center;
}

#botonanadir {
  background-color: rgb(85, 84, 84);
  border-radius: 7px;
  height: 30px;
  color: #ffffff;
  box-shadow: 1px 1px 10px rgba(200, 255, 0, 0.8);
  font-weight: bold;
  margin-left: 20px;
}

#botonanadir:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 1px 1px 10px rgba(0, 255, 0, 0.8);
  font-weight: bold;
}

li {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

li button {
  margin-left: 20px;
  background-color: rgb(85, 84, 84);
  color: #ffffff;
  box-shadow: 1px 1px 10px rgba(200, 255, 0, 0.8);
  border-radius: 7px;
  height: 30px;
  font-weight: bold;
}